<% @title = "Request statistics" %>

<h1>Request statistics</h1>

<h2>Outcomes</h2>
<div id="placeholder" style="width: 700px; height: 400px"></div>

<%# This is how the body_statistics page does it at the moment %>
<%= javascript_include_tag 'jquery.flot.js' %>
<%= javascript_include_tag 'jquery.flot.pie.js' %>
<!--[if lte IE 8]><%= javascript_include_tag "excanvas.min.js" %><![endif]-->

<script type="text/javascript">
var data = <%= @stats.to_json.html_safe %>;
$.plot(
    '#placeholder', data, {
        series: {
            pie: {
                innerRadius: 0.5,
                show: true
            },
        }
    }
);
</script>
