<%#-*- coding: utf8 -*-%>
<% @title = "Sobre" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1>Introducción a <%= site_name %></h1>
  <p>La Plataforma Electrónica para Acceso a la Información es una herramienta tecnológica de alto nivel que tiene como finalidad ayudar a registrar, procesar, administrar y dar respuesta a las solicitudes de información realizadas por la ciudadanía panameña, de una manera efectiva y en tiempo oportuno en base a lo contemplado en la Ley de Transparencia.</p>
</div>
