<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1>Introduction to <%= site_name %></h1>

  <p>The Electronic Platform for Access to Information is a high-level technological tool that aims to help record, process, manage and respond to requests for information made by the Panamanian citizenship, effectively and in a timely manner according to the <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Law 6 of Transparency of January 2002</a> and the <a href="http://www.antai.gob.pa/publicaciones/ley33-25-abril-2013.pdf">Law 33 of April 2013</a>.</p>

  <p>Through this platform information officers of each institution will have better control of requests for access to information that they receive and the time limit to answer such requests. Also, being this an electronic, technological and systematic platform, the request will be process without the need of paper in favor of the government transparency and citizen participation, as established the pillars of the Open Government Partnership.</p>
</div>
