<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1>Introduction to <%= site_name %></h1>
  <p>The Electronic Platform for Access to Information is a high-level technological tool that aims to help record, process, manage and respond to requests for information made by the Panamanian citizenship, effectively and in a timely manner as referred to in the Transparency Law.</p>
</div>
