<%#-*- coding: utf8 -*-%>
<% @title = "Sobre" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1>Introducción a <%= site_name %></h1>
  <p>La Plataforma Electrónica para Acceso a la Información a nivel gubernamental es una herramienta tecnológica de alto nivel que tiene como finalidad ayudar a registrar, procesar, administrar y dar respuesta a las solicitudes de información realizadas por la ciudadanía panameña, de una manera efectiva y en tiempo oportuno de acuerdo con la <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Ley 6 de Transparencia de enero del 2002</a> y la <a href="http://www.antai.gob.pa/publicaciones/ley33-25-abril-2013.pdf">Ley 33 de abril del 2013</a>. 

  <p>A través de esta plataforma los oficiales de información de cada institución podrán tener mejor control de las solicitudes de acceso a la información que reciban y del tiempo límite para poder contestar dichas solicitudes. Además, siendo ésta una plataforma electrónica, tecnológica y de sistematización, se podrá tramitar  sin la necesidad de utilizar papel,  en pro de la transparencia de gobierno, y la participación ciudadana, tal como lo establecen los pilares de la Alianza de los Gobiernos Abiertos.</p>
</div>
