<% @title = "About the platform" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <h1><%= @title %></h1>

  <!-- If you add questions/answers to this page,
     remember to update the Table of Contents. -->

  <ol class="table_of_contents">
    <li><a href="#who_for">Who is the site for?</a></li>
    <li><a href="#how_work">How does it work?</a></li>
    <li><a href="#why_request">Why would I make a request?</a></li>
    <li><a href="#why_reply">Why would an authority reply?</a></li>
    <li><a href="#what_unhappy">What if I'm unhappy with a response?</a></li>
    <li><a href="#who_runs">Who is the site run by?</a></li>
  </ol>

  <dl>

    <dt id="who_for">Who is the site for? <a href="#who_for">#</a> </dt>

    <dd class="human_and_legal">
      <div>
        <p>According to <a href="http://www.antai.gob.pa/publicaciones/constituciondepanama.pdf">Article 43 of the Political Constitution</a> of the Republic of Panama, everyone has the right to request information of public access or public interest that rests in databases or records in charge of public servants or private individuals who provide public services as long as such access has not been limited by written disposition and mandated by law, and to demand their fair treatment and rectification</p>
      </div>
      <div>
        <h3>CONSTITUTION OF THE REPUBLIC OF PANAMA</h3>

        <a class="full_law" href="http://www.antai.gob.pa/publicaciones/constituciondepanama.pdf">Read the full law &raquo;</a>

        <p><strong>Article 43.</strong> Everyone has the right to request information from public access or public interest that rests in databases or records held by public servants or private individuals who provide public services, as long as such access has not been limited by available written and mandated by the Act and to demand their fair and correct treatment.</p>
      </div>
    </dd>

    <dt id="how_work">How does it work? <a href="#how_work">#</a></dt>

    <dd class="human_and_legal">
      <div>
        <p>Individuals interested in requesting information from a public institution, make a request through this electronic platform, once the system records the request it is sent electronically to the information officer which within a period of 30 days from the date of the filing of the request, must answered through this electronic platform. In case of a complicated or complex information request, the staff mus report within the 30 calendar days noted above, the need to extend the term to gather the required information. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Article 17 of Law 6 of January, 2002</a></p>
      </div>
      <div>
        <h3>Article 7 of Law 6 January 22, 2002</h3>

        <a class="full_law" href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Read the full law &raquo;</a>

        <p><strong>Article 7.</strong> The public servant receiving shall have thirty calendar days from the date of submission of the request, to answer in writing, and, if it does not have the documents or records requested, so you know. If the officer has knowledge that another institution has or may have in their possession such documents or similar documents will be obliged to indicate it to the requestor.</p>
      </div>
    </dd>

    <dt id="why_request">Why would I make a request? <a href="#why_request">#</a></dt>

    <dd>
        <p>Because you are interested in information of public access or public interest that rests in databases or records in charge of public servants or private individuals who provide public services.</p>
    </dd>

    <dt id="why_reply">Why would an authority reply? <a href="#why_reply">#</a></dt>

    <dd>
        <p>Because they have to.</p>
        <p>The Law 6 of 22 of January 2002, which dictates rules for transparency in public administration, and sets the action of Habeas Data, and other provisions, establishes the obligation to inform by the State as it is stipulated in Article 8 of the abovementioned Law.</p>
    </dd>

    <dt id="what_unhappy">What if I'm unhappy with a response? <a href="#what_unhappy">#</a></dt>

    <dd class="human_and_legal">
      <div>
        <p>If you are not satisfied with the information provided by the institution have 2 options:</p>
        <ol>
          <li>Initiate a process of Habeas Data before the Plenary of the Supreme Court or Superior Courts of Justice depending on the authority and jurisdiction of the public servant whom it was addressed the note requesting information. In both cases must be supported with note of receipt of the request by the related institution. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Article 17 of Law 6 of January 22, 2002</a>.</li>
          <li>Filing a claim of access to information to the National Authority for Transparency and Access to Information (ANTAI). <a href="http://www.antai.gob.pa/publicaciones/ley33-25-abril-2013.pdf">Article 36 of Law 33 of April 25, 2013</a></li>
        <ol>
      </div>
      <div>
        <h3>Article 17 of Law 6 of January 22, 2002</h3>

        <a class="full_law" href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Read the full law &raquo;</a>

        <p><strong>Article 17.</strong> Everyone shall be entitled to bring an action for Habeas Data, in order to guarantee the right of access to information under this Law, if the holder or public servant responsible of the record, file or database in which the information or personal data claimed was not provided as requested or if the required information has been done insufficient or inaccurately.</p>

        <h3>Article 36 of Law 33 of April 25, 2013</h3>

        <a class="full_law" href="http://www.antai.gob.pa/publicaciones/ley33-25-abril-2013.pdf">Read the full law &raquo;</a>

        <p><strong>Article 36.</strong> Any person may resort to the authority for non-compliance of terms and procedures established for the effective exercise of the right of petition and right of access to public information in power of the state, provided by law, within thirty days from the date after proving the non compliance.</p>
      </div>
    </dd>

    <dt id="who_runs">Who is the site run by? <a href="#who_runs">#</a></dt>

    <dd class="human_and_legal">
      <div>
        <p>The electronic platform for access to information at government level is led by the National Authority for Transparency and Access to Information (ANTAI), as the lead agent in the constitutional field of request of access to information under law. <a href="http://www.antai.gob.pa/publicaciones/ley33-25-abril-2013.pdf">Article 2 of Law 33 of April, 2013</a></p>
      </div>
      <div>
        <h3>Article 2. of Law 33 of April 25, 2013</h3>

        <a class="full_law" href="http://www.antai.gob.pa/publicaciones/ley33-25-abril-2013.pdf">Read the full law &raquo;</a>

        <p><strong>Article 2.</strong> The authority shall ensure compliance with the rights enshrined in the constitution of the republic of panama on the issue of constitutional law regarding requests and access to information, as well as rights under international conventions, agreements, treaties, international and national programs in preventing corruption and the insertion and implementation of new prevention policies in public administration at government level on their own or by national or international proposals.</p>
      </div>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>

<%= javascript_include_tag "legal-summaries" %>
