<%#-*- coding: utf8 -*-%>
<% @title = "Acerca de la plataforma" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <h1><%= @title %></h1>
  <dl>
    <dt>¿Para quién está dirigida esta plataforma?</dt>

    <dd>
      <p>De acuerdo al artículo 43 de la Constitución Politica de la Republica de Panamá, toda persona tiene derecho a solicitar información de acceso público o de interés colectivo que repose en bases de datos o registros a cargo de servidores públicos o de personas privadas que presten servicios públicos, siempre que ese acceso no haya sido limitado por disposición escrita y por mandato de la ley, así como para exigir  su tratamiento leal y rectificación.</p>
    </dd>

    <dt>¿Cómo funciona?</dt>

    <dd>
      <p>Las personas interesadas en solicitar información a una institución pública, realiza una solicitud mediante esta plataforma electrónica.  Una vez el sistema registra la solicitud, la envía electrónicamente al oficial de información la cual dentro de tiempo 30 días a partir de la fecha de la presentación de la solicitud, le contestara mediante esta plataforma electrónica.  De tratarse de una solicitud compleja o extensa, el funcionario informara, dentro de los 30 días calendarios antes señalados, la necesidad de extender el término para recopilar la información solicitada.</p>
    </dd>

    <dt>¿Por qué yo haría una petición/solicitud?</dt>

    <dd>
      <p>Porque tiene interés en solicitar información de acceso público o de interés colectivo que repose en bases de datos o registros a cargo de servidores públicos o de personas privadas que presten servicios públicos</p>
    </dd>

    <dt>¿Por qué contestaría una autoridad?</dt>

    <dd>
      <p>La Ley 6 de 22 de enero de 2002 que dicta normas para la transparencia en la gestión pública, establece la acción de Habeas Data y Dicta otras disposiciones obliga a funcionario a contestar una solicitud y establece la obligación de informar por parte del Estado.</p>
    </dd>

    <dt>¿Qué pasa si no estoy conforme con una respuesta?</dt>
    <dd>
      <p>Si no está satisfecho con la información suministrada por la institución tiene 2 opciones:</p>
      <ol>
        <li>Acción de Habeas Data (Tribunal Superior o Pleno de la Corte, dependiendo de la jurisdicción)</li>
        <li>Presentar un reclamo de Acceso a la Información ante la Autoridad Nacional de Transparencia y Acceso a la Información (ANTAI)</li>
      </ol>
    </dd>

    <dt>¿Quién dirige la plataforma?</dt>
    <dd>
      <p>La plataforma electrónica para acceso a la información a nivel gubernamental es dirigida por la Autoridad Nacional de Transparencia y Acceso a la Información (ANTAI), en su calidad de agente rector en el tema de Derecho Constitucional de petición y acceso a la información.</p>
    </dd>
  </dl>
  <div id="hash_link_padding"></div>
</div>
