<% @title = "Comentarios y sugerencias" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title%></h1>

  <h2>Sustento legal</h2>
  <p>Ley 6 de 22 de enero del 2002</p>
  <p>Ley 33 de 25 de abril del 2013</p>


  <div id="hash_link_padding"></div>


</div>
