<% @title = "Credits" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title %></h1>

  <p>This project has been developed between the National Authority of Transparency and Access to Information and mySociety Ltd., British company based in London. Funding for the development of the Electronic Platform for Access to Information at government level was awarded by the Prosperity Fund through the Ministry of Foreign Affairs of the United Kingdom.</p>

  <div id="hash_link_padding"></div>


</div>
