<% @title = "Créditos" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title%></h1>

  <p>Este proyecto ha sido desarrollado entre la Autoridad Nacional de Transparencia y Acceso a la Información y MySociety Ltd., empresa Británica con sede en Londres.  Los fondos para el desarrollo de esta Plataforma Electrónica para acceso a la Información a nivel gubernamental fueron otorgados por el Fondo de Prosperidad a través del Ministerio de Relaciones Exteriores del Reino Unido.</p>


  <div id="hash_link_padding"></div>


</div>
