<%#-*- coding: utf8 -*-%>
<% @title = "Preguntas Frecuentes" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title %></h1>

  <dl>
    <dt id="top">¿Cuál es la institución correcta donde realizar una solicitud?</dt>
    <dd>
      <p>Todas las personas tienen el derecho de ejercer su derecho de acceso a la información en poder del Estado en todas las instituciones, para tal efecto el peticionario debe acercarse a la institución que mantiene según él la información y solicitarla. Toda institución tendrá la obligación de contestar la solicitud, positiva o negativa al interesado. Artículo 2 de la Ley 6 de 22 de enero 2002</p>
    </dd>

    <dt>¿Qué tipo de información que se puede solicitar?</dt>
    <dd>
      <p>Se puede solicitar todo tipo de información que no sea la que se encuentre clasificada como de acceso restringido o confidencial. “Artículos 13-15 Ley 6 de 22 de enero de 2002.</p>
    </dd>

    <dt>¿Qué puedo esperar después de que hayan hecho una solicitud?</dt>
    <dd>
      <p>Luego de haber realizado una solicitud de información, el peticionario puede esperar en 30 días máximo la respuesta a la solicitud ya sea negando o no. En todo caso siempre se debe responder la solicitud y sustentar cuando se va a negar dependiendo que sea una información clasificada confidencial o restringida. “Artículo 7 de la Ley 6 de 22 de enero de 2002.</p>
    </dd>

    <dt>Cómo apelar a Antai / la Corte Suprema acerca de una respuesta</dt>

    <dd>
      <h2>Ante la Antai:</h2>
      <p>El interesado debe dirigir nota al Director General de ANTAI, solicitando gestionar a que se responda la solicitud de información que presentó ante una institución X, adjuntando la nota con sello de recibido de dicha institución como prueba necesaria para comprobar que se presentó dicha institución. La Antai, gestiona y dirige nota solicitando a la institución señalada a que conteste la solicitud de acceso a la información que se presentó y una vez obtenida respuesta se le dará al interesado.</p>

      <h2>Ante Pleno de la Corte Suprema de Justicia o Tribunales Superiores de Justicia:</h2>
      <p>El peticionario dirige escrito adjuntando la nota con sello de recibido de la institución a quien dirigió la solicitud, y peticiona ante esta instancia para que se logre dar respuesta a la solicitud de información.</p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>


</div>