<%#-*- coding: utf8 -*-%>
<% @title = "Preguntas Frecuentes" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title %></h1>

  <!-- If you add questions/answers to this page,
     remember to update the Table of Contents. -->

  <ol class="table_of_contents">
    <li><a href="#which_institution">¿Cuál es la institución correcta donde realizar una solicitud?</a></li>
    <li><a href="#what_information">¿Qué tipo de información que se puede solicitar?</a></li>
    <li><a href="#what_expect">¿Qué puedo esperar después de que hayan hecho una solicitud?</a></li>
    <li><a href="#how_appeal">Cómo apelar a Antai / la Corte Suprema acerca de una respuesta</a></li>
  </ol>

  <dl>
    <dt id="which_institution">¿Cuál es la institución correcta donde realizar una solicitud? <a href="#which_institution">#</a> </dt>
    <dd class="human_and_legal">
      <div>
        <p>Todas las personas tienen el derecho de ejercer su derecho de acceso a la información en poder del Estado en todas las instituciones, para tal efecto el peticionario debe acercarse a la institución que mantiene según él la información y solicitarla. Toda institución tendrá la obligación de contestar la solicitud, positiva o negativa al interesado. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Artículo 2 de la Ley 6 de 22 de enero 2002</a></p>
      </div>
      <div>
        <h3>Artículo 2 de la Ley 6 de 22 de enero 2002</h3>

        <p>Toda persona tiene derecho a solicitar, sin necesidad de sustentar justificación o motivación alguna, la información de acceso público en poder o en conocimiento de las instituciones indicadas en la presente Ley.<br/><a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Lea la ley completa &raquo;</a></p>
      </div>
    </dd>

    <dt id="what_information">¿Qué tipo de información que se puede solicitar? <a href="#what_information">#</a> </dt>
    <dd class="human_and_legal">
      <div>
        <p>Se puede solicitar todo tipo de información que no sea la que se encuentre clasificada como de acceso restringido o confidencial. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Artículos 13-15 Ley 6 de 22 de enero de 2002.</a></p>
      </div>
      <div>
        <h3>Ley 6 del 22 de enero del 2002 Artículo 13, 14, 15, 16</h3>

        <p><atrong>Artículo 13.</atrong> La información definida por la presente Ley como confidencial no podrá ser divulgada, bajo ninguna circunstancia, por agentes del Estado.</p>

        <p>En el caso de que la información de carácter confidencial sea parte de procesos judiciales, las autoridades competentes tomarán las provisiones debidas para que dicha información se mantenga reservada y tengan acceso a ella únicamente las partes involucradas en el proceso judicial respectivo.</p>

        <p><strong>Artículo 14.</strong> La información definida por esta Ley como de acceso restringido no se podrá divulgar, por un periodo de diez años, contado a partir de su clasificación como tal, salvo que antes del cumplimiento del periodo de restricción dejen de existir razones que justificaban su acceso restringido. </p>

        <p>Se considerará de acceso restringido, cuando así sea declarado por el funcionario competente, de acuerdo con la presente Ley:</p>
        <ol>
          <li>La información relativa a la seguridad nacional, manejada por los estamentos de seguridad.</li>
          <li>Los secretos comerciales o la información comercial de carácter confidencial, obtenidos por el Estado, producto de la regulación de actividades económicas.</li>
          <li>Los asuntos relacionados con procesos o jurisdiccionales adelantados por el Ministerio Público y el Órgano Judicial, los cuales sólo son accesibles para las partes del proceso, hasta que queden ejecutoriados.</li>
          <li>La información que versa sobre procesos investigativos realizados por el Ministerio Público, la Fuerza Pública, la Policía Técnica Judicial, la Dirección General de Aduanas, el Consejo Nacional de Seguridad y Defensa, la Dirección de Responsabilidad Patrimonial de la Contraloría General de la República, la Dirección de Análisis Financiero para la Prevención de Blanqueo de Capitales, la Comisión de Libre Competencia y Asuntos del Consumidor y el Ente Regulador de los Servicios Públicos. </li>
          <li>La información sobre existencia de yacimientos minerales y petrolíferos.</li>
          <li>Las memorias, notas, correspondencia y los documentos relacionados con negociaciones diplomáticas, comerciales e internacionales de cualquier índole</li>
          <li>Los documentos, archivos y transcripciones que naciones amigas proporcionen al país en investigaciones penales, policivas o de otra naturaleza.</li>
          <li>Las actas, notas, archivos y otros registros o constancias de las discusiones o actividades del Consejo de Gabinete, del Presidente o Vicepresidentes de la República, con excepción de aquellas correspondientes a discusiones o actividades relacionadas con las aprobaciones de los contratos. </li>
          <li>La transcripción de las reuniones e información obtenida por las Comisiones de la Asamblea Legislativa, cuando se reúnan en el ejercicio de sus funciones fiscalizadoras para recabar información que podría estar incluida en los numerales anteriores.</li>
        </ul>

        <p>En caso de que las autoridades correspondientes consideren que deba continuarse el carácter de restringido de la información detallada en este artículo, corresponderá a los Órganos Ejecutivo, Legislativo o Judicial, según sea el caso, emitir resoluciones por las cuales se prorrogará hasta por un máximo de diez años adicionales, la restricción sobre la información mencionada en este artículo. En ningún caso el carácter de restringido podrá superar los veinte años, contados a partir de la primera clasificación, procediendo la divulgación de la información si antes del cumplimiento del periodo de restricción adicional dejaren de existir las razones que justificaban tal acceso restringido.</p>

        <p>El proceso de terminación de la restricción al acceso de la información opera de pleno derecho por el solo transcurso del tiempo, sin necesidad de resolución o acto administrativo alguno.</p>

        <p>En caso de que exista un documento que contenga en forma parcial información cuyo acceso se encuentre restringido en los términos de este artículo, deberá proporcionarse el resto de la información que no esté exceptuada.</p>

        <p><strong>Artículo 15.</strong> Los expedientes administrativos de carácter reservado, tales como los que tienen relación con cuentas bancarias, información sobre investigaciones o reportes de operaciones sospechosas relacionadas con el blanqueo de capitales, menores de edad; los judiciales, arbitrales y del Ministerio Público, se regirán por las normas de acceso y de información contenidas en el Código Judicial, la legislación bancaria y normas aplicables a la prevención y el combate del blanqueo de capitales.</p>

        <p><strong>Artículo 16.</strong> Las instituciones del Estado que nieguen el otorgamiento de una información por considerarla de carácter confidencial o de acceso restringido, deberán hacerlo a través de resolución motivada, estableciendo las razones en que se fundamentan la negación y que se sustenten en esta Ley.<br/><a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Lea la ley completa &raquo;</a></p>
      </div>
    </dd>

    <dt id="what_expect">¿Qué puedo esperar después de que hayan hecho una solicitud? <a href="#what_expect">#</a> </dt>
    <dd class="human_and_legal">
      <div>
        <p>Luego de haber realizado una solicitud de información, el peticionario puede esperar en 30 días máximo la respuesta a la solicitud ya sea negando o no. En todo caso siempre se debe responder la solicitud y sustentar cuando se va a negar dependiendo que sea una información clasificada confidencial o restringida. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Artículo 7 de la Ley 6 de 22 de enero de 2002.</a></p>
      </div>
      <div>
        <h3>Artículo 7 de la Ley 6 de 22 de enero de 2002.</h3>

        <p><strong>Artículo 7.</strong> El funcionario receptor tendrá treinta días calendario a partir de la fecha de la presentación de la solicitud, para contestarla por escrito, y, en caso de que ésta no posea el o los documentos o registros solicitados, así lo informará. Si el funcionario tiene conocimiento que otra institución tiene o pueda tener en su poder dichos documentos o documentos similares, estará obligado a indicárselo al solicitante. De tratarse de una solicitud compleja o extensa, el funcionario informará por escrito, dentro de los treinta días calendario antes señalados, la necesidad de extender el término para recopilar la información solicitada. En ningún caso, dicho término podrá exceder de treinta días calendarios adicionales.<br/><a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Lea la ley completa &raquo;</a></p>
      </div>
    </dd>

    <dt id="how_appeal">Cómo apelar a Antai / la Corte Suprema acerca de una respuesta <a href="#how_appeal">#</a> </dt>

    <dd>
      <h2>Ante la Antai:</h2>
      <p>El interesado debe dirigir nota al Director General de ANTAI, solicitando gestionar a que se responda la solicitud de información que presentó ante una institución X, adjuntando la nota con sello de recibido de dicha institución como prueba necesaria para comprobar que se presentó dicha institución. La Antai, gestiona y dirige nota solicitando a la institución señalada a que conteste la solicitud de acceso a la información que se presentó y una vez obtenida respuesta se le dará al interesado.</p>

      <h2>Ante Pleno de la Corte Suprema de Justicia o Tribunales Superiores de Justicia:</h2>
      <p>El peticionario dirige escrito adjuntando la nota con sello de recibido de la institución a quien dirigió la solicitud, y peticiona ante esta instancia para que se logre dar respuesta a la solicitud de información.</p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>


</div>