<% @title = "Frequently asked questions" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title %></h1>

  <!-- If you add questions/answers to this page,
     remember to update the Table of Contents. -->

  <ol class="table_of_contents">
    <li><a href="#which_institution">What is the correct institution to make a request to?</a></li>
    <li><a href="#what_information">What type of information can be requested?</a></li>
    <li><a href="#what_expect">What can I expect after having made an application?</a></li>
    <li><a href="#how_appeal">How to appeal to ANTAI/the Supreme Court about a response</a></li>
  </ol>

  <dl>
    <dt id="which_institution">What is the correct institution where you make a request? <a href="#which_institution">#</a> </dt>

    <dd class="human_and_legal">
      <div>Everyone has the right to exercise their right of access to information held by the state in all institutions, for such purposes, the petitioner should approach the institution as it keeps information and to apply. Every institution will have to answer the request, positive or negative to the person concerned. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Article 2 of Law 6 of January 22, 2002</a></div>
      <div>
        <h3>Article 2 Law 6 of January 22, 2002</h3>

        <a class="full_law" href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Read the full law &raquo;</a>

        <p>Everyone has the right to request, without justification or motivation, the public information in the possession or knowledge of the institutions indicated in this Law.</p>
      </div>
    </dd>

    <dt id="what_information">What type of information that can be requested? <a href="#what_information">#</a> </dt>

    <dd class="human_and_legal">
      <div>You can request any information that is not classified as restricted or confidential access. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Articles 13 to 15 Law 6 of January 22, 2002.</a></div>
      <div>
        <h3>Articles 13-16, Law 6 of January 22, 2002</h3>

        <a class="full_law" href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Read the full law &raquo;</a>

        <p><strong>Article 13.</strong> The information defined by this Law as confidential shall not be disclosed, under any circumstances, by agents of the State.</p>
        <p>In the event that confidential information is part of judicial process, the competent authorities shall take the required provisions for such information to be kept confidential and access to it only to the respective parties involved in the judicial process.</p>

        <p><strong>Article 14.</strong> The information defined by this Law as restricted access will not be disclosed for a period of  ten years from the date of classification, unless prior to the expiration of the restriction period ceases to exists a reason for their restricted access.</p>

        <p>Will be considered restricted, when it’s declared by a competent public servant, under this Law:</p>
        <ol>
          <li>the information relating to national security, managed by the authorities on security.</li>
          <li>Trade secrets or confidential commercial information, obtained by the State, as a result of the regulation of economic activities.</li>
          <li>Issues related to judicial processes developed by the Public Ministry and the Judicial Branch, which are accessible only to the parts of the process until they are executed.</li>
          <li>The information that relates to investigative processes undertaken by the Public Ministry, the Public Forces, the Judicial Technical Police, the General Customs Department, the National Security and Defense Community, the Department of Patrimonial Responsibility of the General Comptroller of the Republic, The Financial Management for the Prevention of Money Laundering Tests, the Commission of Free Competition and Consumer and The Public Services Regulator.</li>
          <li>The information about the existence of mineral and oil deposits.</li>
          <li>Memories, notes, correspondence and documents relating to diplomatic, trade and international negotiations of any kind</li>
          <li>Documents, files and transcripts that friendly nations provide to the country in criminal investigations, police or other nature </li>
          <li>Proceedings, notes, files and other records or reports of discussions or activities of the Cabinet, of the President or Vice-Presidents of the Republic, except those corresponding to discussions or activities related with approvals contracts.</li>
          <li>Transcripts of meetings and information obtained by the Legislature Assembly Committees, when they meet in the exercise of their supervisory functions to gather information that could be included in the preceding paragraphs.</li>
        </ol>

        <p>If the relevant authorities consider that the information detailed in this article should be kept as restricted, will correspond to the Executive, Legislative or Judicial Branch, as the case may be, issue resolutions which shall be extended for a maximum of additional ten years, the restriction on the information mentioned in this article. In no case may exceed restricted nature of twenty years counted from the first classification, preceding the disclosure if prior to the period of expiration ceases to exist additional restrictions that will no longer apply the reasons justifying such restriction access.</p>

        <p>The process of termination of restrictions on the access of information is automatic by the mere passage of time without any decision or administrative act.</p>

        <p>If there is a document containing information which partially access is restricted under the terms of this Article, it shall be provided the other information that is not of exemption</p>

        <p><strong>Article 15.</strong> The administrative confidential records, including those relating to bank accounts, information on investigations or reports of suspicious transactions related to money laundering, underage; judicial, arbitral and Public Ministry shall be governed by the rules of access and information contained in the Judicial Code, the banking legislation and regulations applicable to the prevention and combating of money laundering</p>

        <p><strong>Article 16.</strong> State institutions that deny the granting of information considered confidential or restricted must do so through a motivated decision, setting out the grounds on which the denial is based and that are supported by this Law.</p>
      </div>
    </dd>

    <dt id="what_expect">What can I expect after having made an application? <a href="#what_expect">#</a></dt>
    <dd class="human_and_legal">
      <div>
        <p>After having made a request for information, the applicant can expect the response to the request within a maximum of 30 calendar days either denying or not.</p>
        <p>In any case you should always respond to the request and support when you have to deny responding if it is classified, confidential or restricted information. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Article 7 of Law 6 of January 22, 2002.</a></p>
      </div>
      <div>
        <h3>Law 6 of January 22, 2002</h3>

        <a class="full_law" href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Read the full law &raquo;</a>

        <p><strong>Article 7.</strong> The public servant receiving shall have thirty calendar days from the date of submission of the request, to answer in writing, and, if it does not havee documents or records requested, so you know. If the officer has knowledge that another institution has or may have in their possession such documents or similar documents will be obliged to indicate it to the requestor. In case of a complicated or complex application, the official shall inform in writing, within thirty calendar days noted above, the need to extend the term to gather the required information. In any case, the term will exceed thirty calendar days.</p>
      </div>
    </dd>

    <dt id="how_appeal">How to appeal to ANTAI/the Supreme Court about a response <a href="#how_appeal">#</a> </dt>

    <dd>
      <p>To the Antai:</p>

      <p>The interested party must send note to the Director General of Antai requesting manage the answer to the information request submitted to an X institution, enclosing the note with receipt stamp of the institution as evidence necessary to prove that it was presented in that institution.</p>
      <p>The Antai, manages and directs note requesting the institution indicated to answer the request for access to information that was presented and after obtaining response will be given to the applicant.</p>

      <p>Before Plenum of the Supreme Court or High Courts:</p>

      <p>The petitioner directs written attaching the note with received stamped from the institution in which he addressed the request, and ask to this instance in order to achieve the response to the request for information.</p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>

<%= javascript_include_tag "legal-summaries" %>
