<%#-*- coding: utf8 -*-%>
<% @title = "Sustento Legal" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%= @title %></h1>

  <ul>
    <li><a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Ley 6 de 22 de enero del 2002</a></li>
    <li><a href="http://www.antai.gob.pa/publicaciones/ley33-25-abril-2013.pdf">Ley 33 de 25 de abril del 2013</a></li>
  <ul>

  <div id="hash_link_padding"></div>


</div>
