<% @title = "Information officer" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title %></h1>

  <p>The Information Officer is the servant designated by each institution in coordination with the National Authority of Transparency and Access to Information attending the provisions of <a href="http://www.antai.gob.pa/publicaciones/ley33-25-abril-2013.pdf">Article 7 of Law 33 of April 25, 2013</a>, to be a central contact within the institution for receipt of requests of access to information</p>
  <p>The information officer will have the following obligations:</p>

  <ol>
    <li>Be the liaison for coordinating the implementation of the transparency act, in addition to the agreements and opinions that the authority, without prejudice to the obligation of the institution to fulfill them.</li>
    <li>Be the central contact at the institution for receipt of requests for information, for assistance to persons requesting information and to receive complaints about the conduct of the institution in the dissemination of information and protection personal data.</li>
    <li>Revise that requests comply with requirements under the law of transparency.</li>
    <li>Receive and register all petitions and requests and requests for information is presented to the authority.</li>
    <li>Provide to the requestor of information a receipt of acknowledment for appropriate follow-up.</li>
    <li>Follow up on requests and petitions of information and provide information to the requestor regarding the status of these.</li>
    <li>Promote within the institution best practices regarding the responsibility for the maintenance, storage and custody of public documents, as well as confidential or restricted information.</li>
  </ol>

  <div id="hash_link_padding"></div>


</div>
