<%#-*- coding: utf8 -*-%>
<% @title = "Oficial de Información" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title %></h1>

  <p>El oficial de información tendrá las siguientes funciones:<p>
  <ol>
    <li>Ser el enlace para  coordinar la implementación de la Ley de Transparencia, además de los acuerdos y opiniones que disponga la Autoridad, sin perjuicio de la obligación que tiene la institución de cumplirlos</li>
    <li>Ser el contacto central en la institución para la recepción de solicitudes de información, para la asistencia a las personas que solicitan información y para la recepción de denuncias sobre la actuación de la institución en la divulgación de información, así como la protección de datos personales</li>
    <li>Revisar que las solicitudes de información cumplan con las formalidades dispuestas en la Ley de Transparencia</li>
    <li>Recibir y registrar todas las peticiones y solicitudes de información que se presenten ante la Autoridad</li>
    <li>Proporcionar al solicitante de la información un acuse de recibo para su debido seguimiento.</li>
    <li>Dar seguimiento a las peticiones y solicitudes de información y brindar información al solicitante respecto al estado de estas.</li>
    <li>Promover dentro de la institución las mejores prácticas en relación con la responsabilidad del mantenimiento confidencial o de acceso restringido.</li>
  </ol>

  <div id="hash_link_padding"></div>


</div>
