<%#-*- coding: utf8 -*-%>
<% @title = "Su privacidad" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%= @title %></h1>

  <p>Su privacidad es importante para nosotros por tal razón mantenemos una política de privacidad de los datos aportados por los usuarios, comprometidos en la protección de los datos personales.</p>

  <p>La Autoridad Nacional de Transparencia y Acceso a la información velara por la debida reserva y protección de los datos e informaciones que tengan carácter de información confidencial, información de acceso restringido y datos personales.</p>

  <ol class="table_of_contents">
    <li><a href="#who_sees_my_email">¿Quién puede ver mi dirección de correo electrónico?</a></li>
    <li><a href="#spam">¿Enviarán correo no deseado a mi dirección de correo electrónico?</a></li>
    <li><a href="#why_name">¿Por qué mi nombre aparecerá en el sitio web?</a></li>
    <li><a href="#can_you_delete">¿Pueden borrar mis peticiones, o alterar mi nombre?</a></li>
    <li><a href="#personal_info">¿Se puede borrar mi información personal?</a></li>
  </ol>

  <dl>

    <dt id="who_sees_my_email">¿Quién puede ver mi dirección de correo electrónico? <a href="#who_sees_my_email">#</a> </dt>

    <dd>
      <p>No revelaremos su dirección de correo electrónico a NADIE a menos que estemos obligados por la ley o que usted nos lo autorice.</p>
      <p>Esto incluye la autoridad pública a la que usted le va a enviar una solicitud. Sólo podrán ver una dirección de correo electrónico  @PanamaTransparente.com que es específico a esa solicitud.</p>
      <p>Si usted envía un mensaje a otro usuario en el sitio, entonces se revelará su dirección de correo electrónico a este usuario. Se le informará de que esto va a suceder.</p>
    </dd>

    <dt id="spam">¿Enviarán correo no deseado a mi dirección de correo electrónico? <a href="#spam">#</a> </dt>

    <dd>No. Después de suscribirse a <%= site_name %> sólo le enviaremos correos electrónicos relativos a una solicitud que ha realizado, un mensaje de alerta que confirma que se ha registrado, y por otras razones que usted autorice específicamente. Nunca vamos a dar o vender sus direcciones de correo electrónico a cualquier otra persona, a menos que estemos obligados por la ley, o que usted nos lo pida.</dd>

    <dt id="why_name">¿Por qué mi nombre aparecerá en el sitio web? <a href="#why_name">#</a> </dt>

    <dd>
      <p>Publicamos su solicitud en Internet para que cualquiera pueda leerla y hacer uso de la información que usted ha encontrado. Normalmente no borramos las solicitudes. (Más detalles).</p>
      <p>Su nombre está enlazado con su petición, por lo que tiene que publicarse también, es lo justo, así como también se publicara el nombre del funcionario que responde a su solicitud.</p>
      <p>Por ley, usted debe usar su nombre para que sea válida una solicitud de acceso a la información.</p>
    </dd>

    <dt id="can_you_delete">¿Pueden borrar mis peticiones, o alterar mi nombre? <a href="#can_you_delete">#</a> </dt>
    <dd>
      <p><%= site_name %> es un permanente archivo, público de las solicitudes de acceso a la información.</p>
      <p>Aunque usted considere que ya no le es útil la respuesta a una solicitud, la misma puede ser de interés para otras personas. Por esta razón, no vamos a eliminar las solicitudes, en circunstancias excepcionales, podemos quitar o cambiar su nombre en el sitio web. (Ver siguiente pregunta)</p>
    </dd>

    <dt id="personal_info">¿Se puede borrar mi información personal? <a href="#personal_info">#</a> </dt>
    <dd>
      <p>Si ve cualquiera de su información personal publicada en el sitio web y desea que la quitemos o escondamos, entonces por favor déjenos saber. Debe especificar exactamente qué información usted cree que debe ser removida, porque y los lugares donde aparezca esta información en el sitio.</p>
      <p>Si se trata de la información personal que ha sido publicado por accidente, entonces por lo general la eliminaremos.</p>
    </dd>

  </dl>

  <div id="hash_link_padding"></div>


</div>
