<%#-*- coding: utf8 -*-%>
<% @title = "Su privacidad" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%= @title %></h1>

  <p>Su privacidad es importante para nosotros por tal razón mantenemos una política de privacidad de los datos aportados por los usuarios, comprometidos en la protección de los datos personales.</p>

  <p>La Autoridad Nacional de Transparencia y Acceso a la información velara por la debida reserva y protección de los datos e informaciones que tengan carácter de información confidencial, información de acceso restringido y datos personales.</p>

  <div id="hash_link_padding"></div>


</div>
