<% @title = "Your privacy" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%= @title %></h1>

  <p>Translation to follow</p>

  <div id="hash_link_padding"></div>


</div>
