<% @title = "Your privacy" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%= @title %></h1>

  <p>Your privacy is important for us for that reason we maintain a policy of privacy of the data provided by users, committed to the protection of personal data.</p>

  <p>The National Authority for Transparency and Access to Information will ensure the proper confidentiality and protection of data and information in the nature of confidential information restricted access information and personal data.</p>

  <!-- If you add questions/answers to this page,
     remember to update the Table of Contents. -->

  <ol class="table_of_contents">
    <li><a href="#who_sees_my_email">Who gets to see my email address?</a></li>
    <li><a href="#spam">Will you send me unsolicited email?</a></li>
    <li><a href="#why_name">Why will my name appear on the site?</a></li>
    <li><a href="#can_you_delete">Can you delete my requests, or alter my name?</a></li>
    <li><a href="#personal_info">Can you take down personal information about me?</a></li>
  </ol>

  <dl>

    <dt id="who_sees_my_email">Who gets to see my email address? <a href="#who_sees_my_email">#</a> </dt>

    <dd>
      <p>We will not disclose your email address to anyone unless we are obliged to by law, or you ask us to. This includes the public authority that you are sending a request to. They only get to see an email address @PanamaTransparente.com which is specific to that request.</p>
      <p>If you send a message to another user on the site, then it will reveal your email address to them. You will be told that this is going to happen.</p>
    </dd>

    <dt id="spam">Will you send me unsolicited email? <a href="#spam">#</a> </dt>

    <dd>No, after you sign up to <%= site_name %> we will only send you emails relating to a request you made, an email alert that you have signed up for, or for other reasons that you specifically authorize. We will never give or sell your email addresses to anyone else, unless we are obliged to by law, or you ask us to.</dd>

    <dt id="why_name">Why my name will appear on the site? <a href="#why_name">#</a> </dt>

    <dd>
      <p>We publish your request on the Internet so that anybody can read it and make use of the information that you have found. We do not normally delete requests.<p>
      <p>Your name is tangled up with your request, so has to be published as well. It is only fair, as we're going to publish the name of the civil servant who writes the response to your request. Using your real name also helps people get in touch with you to assist you with your research or to campaign with you.</p>
      <p>By law, you must use your real name for the request to be a valid Freedom of Information request.</p>
    </dd>

    <dt id="can_you_delete">Can you delete my requests, or alter my name? <a href="#can_you_delete">#</a> </dt>
    <dd>
      <%= site_name %> is a permanent, public archive of Freedom of Information requests. Even though you may not find the response to a request useful any more, it may be of interest to others. For this reason, we will not delete requests. Under exceptional circumstances we may remove or change your name on the website. See next question.
    </dd>

    <dt id="personal_info">Can you take down personal information about me? <a href="#personal_info">#</a> </dt>
    <dd>
      <p>If you see any personal information about you on the site which you'd like us to remove or hide, then please let us know. Specify exactly what information you believe to be problematic, why and where it appears on the site.</p>
      <p>If it is sensitive personal information that has been accidentally posted, then we will usually remove it.</p>
    </dd>

  </dl>

  <div id="hash_link_padding"></div>


</div>
