<%#-*- coding: utf8 -*-%>
<% @title = "Como realizar una Solicitud" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title %></h1>

  <p>Para realizar una solicitud a través de <%= site_name %> siga los siguientes pasos:</p>

  <ul>
    <li>
      <p><strong>Paso 1</strong>: Ingrese el nombre de la institución que según él peticionario mantiene la información o selecciónela de la lista de instituciones públicas.<p>

      <p>Una vez se despliegue la información de la institución haga clic en: <strong>Enviar una solicitud a este organismo</strong></p>
    </li>
    <li>
      <p><strong>Paso 2</strong>: Asegúrese que la información que necesita no se encuentre disponible en la sección de transparencia de la página web de la institución. Las autoridades en Panamá están obligadas a publicar cierta información en línea. <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Artículo 9, 10, 11, 26 y 27 de la ley 6 del 2002</a></p>

      <p>Usted también puede examinar las solicitudes que han sido contestadas. Es probable que algún otro usuario haya solicitado esta información anteriormente. (Esto podría ahorrarle mucho tiempo)</p>
    </li>

    <li>
      <p><strong>Paso 3</strong>: En el cuadro  pequeño escriba el "Asunto General de su solicitud".</p>

      <p>En el cuadro grande escriba su solicitud en un lenguaje sencillo y claro, pida documentos o información específica. Esta web no está diseñada para resolver dudas generales.</p>

      <p>Una solicitud de información por medio de esta plataforma no tiene una formalidad como tal, sin embargo debe contener un mínimo de requisitos basado en el <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">Artículo 5 de la Ley 6 de Transparencia</a>. Le solicitará lo siguiente:</p>
      <ol>
        <li>Nombre del Solicitante</li>
        <li>Cédula de identidad personal</li>
        <li>Dirección residencial o de su oficina</li>
        <li>Número de teléfono donde puede ser localizado.</li>
      </ol>
      <p>Tratándose de personas jurídicas, deberán detallarse los datos de inscripción  y los datos personales de su representante legal.</p>

      <p>*(Los usuarios registrados no necesitarán ingresar esta información para realizar la solicitud debido a que la misma fue recopilada al momento de registrarse)</p>
    </li>

    <li><strong>Paso 4</strong>: Revise su solicitud, esto evitará que la misma sea rechazada por falta de requisitos si desea cambiar algo haga clic en: <strong>Editar Solicitud</strong>.</li>

    <li><strong>Paso 5</strong>: Para enviar su solicitud haga clic en <strong>Enviar Solicitud</strong> al ingresar su solicitud, el sistema la generará automáticamente por medio de un correo electrónico dirigido al oficial de información de la institución pública.</li>

    <li><strong>Paso 6</strong>: Esperar respuesta a la solicitud en un máximo 30 días calendario.</li>
  </ul>

  <div id="hash_link_padding"></div>

</div>
