<%#-*- coding: utf8 -*-%>
<% @title = "Como realizar una Solicitud" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

  <h1><%= @title %></h1>

  <p>La Ley 6 de transparencia establece en su <strong>artículo 5</strong> que la petición se puede hacer por escrito en papel simple o por medio de correo electrónico, cuando la institución correspondiente disponga del mismo mecanismo para responderlo, sin formalidad alguna, ni necesidad de apoderado legal, detallando en la medida de lo posible la información que se requiere, y se presentara en la oficina asignada por cada institución para el recibo de correspondencia.  Recibida la petición, deberá llevarse de inmediato al conocimiento del funcionario a quien se dirige.</p>

  <p>En el caso de plataforma electrónica, al ingresar su solicitud, el sistema generará por medio de un correo electrónico dirigido al oficial de información de las instituciones públicas. <u>Ver paso a paso</u></p>

  <p>El sistema, basado en el <strong>artículo 6</strong> de la Ley 6 de transparencia, le solicitará lo siguiente:</p>
  <ol>
    <li>Nombre del Solicitante</li>
    <li>Cedula de identidad personal</li>
    <li>Dirección residencial o de su oficina</li>
    <li>Número de teléfono donde puede ser localizado.</li>
    <li>Tratándose de personas jurídicas, deberán detallarse los datos de inscripción  y los datos personales de su representante legal.</li>
  </ol>

  <div id="hash_link_padding"></div>

</div>
