<% @title = "Transparencia" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%= @title %></h1>

  <p>En atención al principio de publicidad, todas las instituciones del Estado están obligadas a tener disponible en sus respectivos sitios de Internet y a publicar mensualmente, información actualizada respecto de los temas, documentos y políticas, además de toda la información que obliga la <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">ley 6 del 2002 en sus Artículos 9, 10, 11, 26 y 27</a></p>

  <ol class="table_of_contents">
    <li><a href="#what_information">¿Qué información está disponible en la sección de transparencia? </a></li>
    <li><a href="#what_missing">¿Qué pasa si no puedo encontrar esta información en el sitio?</a></li>
  </ol>

  <dl>
    <dt id="what_information">¿Qué información está disponible en la sección de transparencia?  <a href="#what_information">#</a> </dt>
    <dd>
      <h3>ARTÍCULO 9</h3>
      <ul>
        <li>1) 9.1 Reglamento Interno</li>
        <li>2) 9.2 Políticas Institucionales</li>
        <li>3) 9.3 Plan Estratégico</li>
        <li>4) 9.4 Manual de Procedimiento</li>
        <li>5) 9.5 Organigrama General</li>
        <li>6) 9.6 Seguimiento de Documentos</li>
        <li>7) 9.7 Descripción de Formularios</li>
        <li>8) 9.8 Reglas de Procedimientos</li>
      </ul>
      <h3>ARTÍCULO 10</h3>
      <ul>
        <li>9) 10.1 Proyectos Institucionales</li>
        <li>10) 10.2 Estructura Presupuestaria</li>
        <li>11) 10.3 Estadísticas</li>
        <li>12) 10.4 Programas Desarrollados</li>
        <li>13) 10.5 Contrataciones Públicas</li>
      </ul>
      <h3>ARTÍCULO 11</h3>
      <ul>
        <li>14) 11.1 Contratación de Funcionarios</li>
        <li>15) 11.2 Designación de Funcionarios</li>
        <li>16) 11.3 Planilla  </li>
        <li>17) 11.4 Gastos de Representación</li>
        <li>18) 11.5 Costos de Viajes </li>
        <li>19) 11.6 Viáticos Detalles de Viaje</li>
      </ul>
      <h3>ARTÍCULO 26</h3>
      <ul>
        <li>20) 26.1 Solicitudes de Información presentadas a la Institución</li>
        <li>21) 26.2 Solicitudes Resueltas y Negadas</li>
        <li>22) 26.3 Participación Ciudadana</li>
        <li>ARTÍCULO 27</li>
        <li>23) 27.1 <a href="http://www.antai.gob.pa/index.php?option=com_content&view=article&id=258&Itemid=317">Código de Ética</a> </li>
      </ul>
      <h3>OTROS</h3>
      <ul>
        <li>24) Cualquier otra información que la institución quiera publicar. Ejemplo: <a href="http://www.antai.gob.pa/index.php?option=com_content&view=article&id=288&Itemid=394">Informes de Gestión</a>, <a href="http://www.antai.gob.pa/publicaciones/antai-resolucion-23.pdf">Resoluciones Administrativas</a>, <a href="http://www.antai.gob.pa/index.php?option=com_content&view=article&id=288&Itemid=393">Informes Actualizados por Departamentos</a>.</li>
      </ul>
    </dd>

    <dt id="what_missing">¿Qué pasa si no puedo encontrar esta información en el sitio? <a href="#what_missing">#</a> </dt>
    <dd>
      <p>Si usted, no encuentra la información mencionada anteriormente publicada en la página web de la institución, déjenos saber a través de esta plataforma haciendo clic en <a href="<%= url_for help_contact_path %>">Contáctenos</a> o por cualquier otra vía puede poner en conocimiento a la Autoridad Nacional de Transparencia y Acceso a la Información.</p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>


</div>
