<% @title = "Transparency" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%= @title %></h1>

  <p>Bearing in mind the principle of publicity, all state institutions are required to have available at their respective websites and to publish monthly update on the issues, policy, documents and all information required by <a href="http://www.antai.gob.pa/publicaciones/Ley-6-de-22-enero-2002.pdf">law 6 of 2002 Article 9, 10, 11, 26 and 27</a></p>

  <ol class="table_of_contents">
    <li><a href="#what_information">What information is available on the transparency section?</a></li>
    <li><a href="#what_missing">What if I cannot find this information on the site?</a></li>
  </ol>

  <dl>
    <dt id="what_information">What information is available on the transparency section? <a href="#what_information">#</a> </dt>
    <dd>
      <h3>ARTICLE 9</h3>
      <ul>
        <li>1) 9.1 Internal Rules </li>
        <li>2) 9.2 Institutional Policies </li>
        <li>3) 9.3 Strategic Plan </li>
        <li>4) 9.4 Procedural Manual </li>
        <li>5) 9.5 General Organizational </li>
        <li>6) 9.6 Tracking Documents </li>
        <li>7) 9.7 Description of Forms </li>
        <li>8) 9.8 Rules of Procedure</li>
      </ul>

      <h3>ARTICLE 10</h3>
      <ul>
        <li>9) 10.1 Institutional Projects</li>
        <li>10) 10.2 Budgetary Structure</li>
        <li>11) 10.3 Statistics</li>
        <li>12) 10.4 Developed Programs</li>
        <li>13) 10.5 Government Procurement</li>
      </ul>

      <h3>ARTICLE 11</h3>
      <ul>
        <li>14) 11.1 Hiring Officials</li>
        <li>15) 11.2 Designation of Officers</li>
        <li>16) 11.3 Payroll</li>
        <li>17) 11.4 Representation Expenses</li>
        <li>18) 11.5 Travel Costs</li>
        <li>19) 11.6 Travel Expenses Details</li>
      </ul>

      <h3>ARTICLE 26</h3>

      <ul>
        <li>20) 26.1 Information Requests submitted to the Institution</li>
        <li>21) 26.2 Resolved Requests Denied</li>
        <li>22) 26.3 Civil Participation</li>
      </ul>

      <h3>ARTICLE 27</h3>
      <ul>
        <li>23) 27.1 Code of Ethics</li>
      </ul>
      <h3>OTHER</h3>
      <ul>
        <li>24) Any other information that the institution wants to publish. Example: Management Reports, Administrative Resolutions, Reports Updated by Department</li>
      </ul>
    </dd>

    <dt id="what_missing">What if I cannot find this information on the site? <a href="#what_missing">#</a> </dt>
    <dd>
      <p>If you do not see this transparency information published on the website of the institution let us know through this platform by clicking on <a href="<%= url_for help_contact_path %>">Contact Us</a> or by any other means you can to inform the Authority of Transparency and Access to Information.</p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>

</div>
