<%#-*- coding: utf8 -*-%>
<% @title = "Transparencia" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%= @title %></h1>

  <dl>

    <dt id="example1">Example question <a href="#example1">#</a> </dt>

    <dd><p>example answer text.</p></dd>

  </dl>

  <div id="hash_link_padding"></div>


</div>
